.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 1336px;
  height: 80px;
  padding: 0 30px 0 25px;
  background-color: #DC5041;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
}

.logout a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.main {
  display:flex;
}

.side-bar {
  height: 688px;
  width: 260px;
  background-color: #F8F5F5;
  padding: 45px 20px;
}

.diary {
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.diary__date {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 8px;
}

.diary__text {
  font-size: 10px;
  color: #3A3736;
  line-height: 12px;
}

.chat-main {
  height: 688px;
  width: 1106px;
  background-color: #FFFFFF;
  padding: 45px 20px;
}

.input-form {
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.dialog-main {
  width: 1366px;
  height: 688px;
  background-color: #F8F5F5;
}

.dialog {
  width: 360px;
  border: 1px solid #666666;
  border-radius: 5px;
}

.dialog__header {
  width: 100%;
  height: 25px;
  padding: 0 5px;
  background-color: #DC5041;
  color: #FFFFFF;
}

.dialog__body {
  width: 100%;
  height: 200px;
  border-color: #FFFFFF;
}