.header {
  height: 80px;
  width: 1336px;
  background-color: #DC5041;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  color: #FFFFFF;
  font-weight: bold;
  padding-left:25px;
}

.logout {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  padding-right: 30px;
}

.main {
  display:flex;
}

.side-bar {
  height: 688px;
  width: 260px;
  background-color: #F8F5F5;
}

.chat-main {
  height: 688px;
  width: 1106px;
  background-color: #FFFFFF;
}